<script lang="ts">
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();

  function submit(event) {
    event.preventDefault();
    const textValue = event.target.elements.text.value;
    dispatch("textUpdated", {
      textValue,
    });
  }
</script>

<form on:submit={submit}>
  <input name="text" aria-label="Enter text to be translated" />
  <button type="submit">Translate</button>
</form>

<style>
</style>
