<script lang="ts">
  import Input from "./components/Input.svelte";
  import Translation from "./components/Translation.svelte";

  import Translate from "./services/translate";

  let translatedText: string = "";

  function textUpdated(event) {
    translatedText = Translate(event.detail.textValue);
  }
</script>

<main>
  <Input on:textUpdated={textUpdated} />
  <Translation text={translatedText} />
</main>

<style>
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
</style>
